<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/galaxies">Galaxies</a></li>
            <li><a href="/planets">Planets</a></li>
            <li><a href="/stars">Stars</a></li>
        </ul>
    </nav>
</header>