{% extends "layouts/base.html.twig" %}

{% block app%}
<h1>Hello {{name}}</h1>


{% if active and people.length > 0 %}

<ul>
  {% for person in people %}
  <li>{{person.name}} is {{person.age}} years old!</li>
  {% endfor %}
</ul>

{% endif %}


<p>&copy; {{ "Now" |date("Y") }}</p>

{% endblock%}


{% block scripts%}
{% endblock%}